$default-color: #73879c;
$primary-color: #1284e7;

.ib-datepicker {
	position: relative;
	display: inline-block;
	color: $default-color;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
		sans-serif;
	* {
		box-sizing: border-box;
	}
	&.disabled {
		opacity: 0.7;
		cursor: not-allowed;
	}
}
.ib-datepicker-range {
	width: 320px;
}

.ib-datepicker-popup {
	position: absolute;
	margin-top: 1px;
	margin-bottom: 1px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	z-index: 1000;
}

.ib-input-wrapper {
	position: relative;
	width: inherit;
	.ib-clear-wrapper {
		display: none;
	}
	&:hover {
		.ib-clear-wrapper {
			display: block;
		}
	}
}

.ib-input {
	display: inline-block;
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.3rem;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
	border: 1px solid #d6dfe8;
	border-radius: 0.3rem;
	&:disabled,
	&.disabled {
		opacity: 0.7;
		cursor: not-allowed;
	}
	&:focus {
		outline: none;
	}
}

.ib-input-append {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
	padding: 6px;
	background-color: #fff;
	background-clip: content-box;
}

.ib-input-icon {
	display: inline-block;
	width: 100%;
	height: 100%;
	font-style: normal;
	color: #555;
	text-align: center;
	cursor: pointer;
}

.ib-calendar-icon {
	width: 100%;
	height: 100%;
	color: #555;
	stroke-width: 8px;
	stroke: currentColor;
	fill: currentColor;
}

.ib-clear-icon {
	&::before {
		display: inline-block;
		content: "\2716";
		vertical-align: middle;
	}
	&::after {
		content: "";
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
	}
}

.ib-range-wrapper {
	width: 248px * 2;
	overflow: hidden;
}

.ib-shortcuts-wrapper {
	text-align: left;
	padding: 0 12px;
	line-height: 34px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	.ib-shortcuts {
		background: none;
		outline: none;
		border: 0;
		color: inherit;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		cursor: pointer;
		&:hover {
			color: mix(#fff, $primary-color, 20%);
		}
		&:after {
			content: "|";
			margin: 0 10px;
			color: #48576a;
		}
	}
}

.ib-datepicker-footer {
	padding: 4px;
	clear: both;
	text-align: right;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.ib-datepicker-btn {
	font-size: 12px;
	line-height: 1;
	padding: 7px 15px;
	margin: 0 5px;
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 3px;
}
.ib-datepicker-btn-confirm {
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #73879c;
	&:hover {
		color: #1284e7;
		border-color: #1284e7;
	}
}

/* 日历组件 */
.ib-calendar {
	float: left;
	color: $default-color;
	padding: 6px 12px;
	font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, sans-serif;
	* {
		box-sizing: border-box;
	}
}

.ib-calendar-header {
	padding: 0 4px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	overflow: hidden;
	> a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: mix(#fff, $primary-color, 20%);
		}
	}
	@at-root {
		.ib-icon-last-month,
		.ib-icon-next-month {
			padding: 0 6px;
			font-size: 20px;
			line-height: 30px;
		}
		.ib-icon-last-month {
			float: left;
		}
		.ib-icon-next-month {
			float: right;
		}
		.ib-icon-last-year {
			@extend .ib-icon-last-month;
		}
		.ib-icon-next-year {
			@extend .ib-icon-next-month;
		}
	}
}

.ib-calendar-content {
	width: 32px * 7;
	height: 32px * 7;
	.cell {
		cursor: pointer;
		&:hover {
			background-color: #eaf8fe;
		}
		&.actived {
			color: #fff;
			background-color: $primary-color;
		}
		&.inrange {
			background-color: #eaf8fe;
		}
		&.disabled {
			cursor: not-allowed;
			color: #ccc;
			background-color: #f3f3f3;
		}
	}
}

.ib-panel {
	width: 100%;
	height: 100%;
	text-align: center;
}

.ib-panel-date {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	td,
	th {
		font-size: 12px;
		width: 32px;
		height: 32px;
		padding: 0;
		overflow: hidden;
		text-align: center;
	}
	td {
		&.today {
			color: mix(#fff, $primary-color, 10%);
		}
		&.last-month,
		&.next-month {
			color: #ddd;
		}
	}
}

.ib-panel-year {
	padding: 7px 0;
	.cell {
		display: inline-block;
		width: 40%;
		margin: 1px 5%;
		line-height: 40px;
	}
}

.ib-panel-month {
	.cell {
		display: inline-block;
		width: 30%;
		line-height: 40px;
		margin: 8px 1.5%;
	}
}

.ib-time-list {
	position: relative; // 定位 offsetParent
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-left: 1px solid rgba(0, 0, 0, 0.05);
	overflow-y: auto;
	.ib-time-picker-item {
		display: block;
		text-align: left;
		padding-left: 10px;
	}
	&:first-child {
		border-left: 0;
	}
	.cell {
		width: 100%;
		font-size: 12px;
		height: 30px;
		line-height: 30px;
	}
	/* 滚动条滑块 */
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
	}

	&:hover::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
	}
}
